pyTelegramBotAPI
telethon
Pillow
requests
imageio==2.9.0
imageio-ffmpeg
moviepy==1.0.3
decorator==4.4.2
qrcode
pyshorteners
numpy
yt-dlp
pyrogram
tgcrypto
deep-translator
aiohttp
aiofiles
flask
pyngrok
python-dotenv
pymongo[srv]
motor
dnspython
certifi
